wma-agentforce-loan-process/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="wma-agentforce-loan-process-api-main">
        
        
        <http:listener config-ref="wma-agentforce-loan-process-api" path="${https.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="wma-agentforce-loan-process-api-config" />
		<error-handler ref="error_Handler" />
    </flow>
    <flow name="post:\creditScore:application\json:wma-agentforce-loan-process-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="originalPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
		<flow-ref doc:name="oauth-flow" doc:id="6438a594-63d9-4235-a553-92425db14807" name="oauth-flow"/>
		<flow-ref doc:name="credit-score-flow" doc:id="bb84165b-21ff-429d-bb7d-0a087833e989" name="credit-score-flow"/>
    </flow>
    <flow name="post:\documentSign:application\json:wma-agentforce-loan-process-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="docusign-flow" doc:id="bfe8f37b-59e4-4b4c-a342-d6d7c5e87737" name="docusign-flow"/>
    </flow>
</mule>
